<header class="site-header">
    <a class="brand" href="">Good Hamburger</a>

    <nav class="nav-links" aria-label="Navegação principal">
        <NavLink href="" Match="NavLinkMatch.All">Cardápio</NavLink>
        <NavLink href="orders">Pedidos</NavLink>
        <NavLink href="orders/new">Novo Pedido</NavLink>
    </nav>
</header>
